/* play-regular - cyrillic_cyrillic-ext_latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Play';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/play-v19-cyrillic_cyrillic-ext_latin-regular.woff2') format('woff2'),
        /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
        url('../fonts/play-v19-cyrillic_cyrillic-ext_latin-regular.ttf') format('truetype');
    /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

/* play-700 - cyrillic_cyrillic-ext_latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Play';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/play-v19-cyrillic_cyrillic-ext_latin-700.woff2') format('woff2'),
        /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
        url('../fonts/play-v19-cyrillic_cyrillic-ext_latin-700.ttf') format('truetype');
    /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}
/* roboto-100 - cyrillic_cyrillic-ext_latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 100;
    src: url('../fonts/roboto-v30-cyrillic_cyrillic-ext_latin-100.woff2') format('woff2'),
        /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
        url('../fonts/roboto-v30-cyrillic_cyrillic-ext_latin-100.ttf') format('truetype');
    /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

/* roboto-300 - cyrillic_cyrillic-ext_latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/roboto-v30-cyrillic_cyrillic-ext_latin-300.woff2') format('woff2'),
        /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
        url('../fonts/roboto-v30-cyrillic_cyrillic-ext_latin-300.ttf') format('truetype');
    /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

/* roboto-regular - cyrillic_cyrillic-ext_latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-v30-cyrillic_cyrillic-ext_latin-regular.woff2') format('woff2'),
        /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
        url('../fonts/roboto-v30-cyrillic_cyrillic-ext_latin-regular.ttf') format('truetype');
    /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

/* roboto-500 - cyrillic_cyrillic-ext_latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/roboto-v30-cyrillic_cyrillic-ext_latin-500.woff2') format('woff2'),
        /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
        url('../fonts/roboto-v30-cyrillic_cyrillic-ext_latin-500.ttf') format('truetype');
    /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

/* roboto-700 - cyrillic_cyrillic-ext_latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/roboto-v30-cyrillic_cyrillic-ext_latin-700.woff2') format('woff2'),
        /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
        url('../fonts/roboto-v30-cyrillic_cyrillic-ext_latin-700.ttf') format('truetype');
    /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

/* roboto-900 - cyrillic_cyrillic-ext_latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/roboto-v30-cyrillic_cyrillic-ext_latin-900.woff2') format('woff2'),
        /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
        url('../fonts/roboto-v30-cyrillic_cyrillic-ext_latin-900.ttf') format('truetype');
    /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}
:root{
    --color-primary-light: #FFF;
    --color-primary-brand: #2B7FFF;
    --color-primary-dark: #011C44;
    --color-secondary-grey-dark: #4A4A4A;
    --color-secondary-grey-light: #747272;
    --color-secondary-brand: #011F4A;
    --color-accent: #FFD02B;
    --color-black: #000000;
}
/* base */
body{
    color: var(--color-primary-dark);
    font-family: Roboto;
    font-size: 22px;
    font-weight: 400;
    line-height: 1.7;
}
footer{
    background-color: var(--color-primary-dark);
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}
address{
    font-style: normal;
}
h2{
    font-family: Play;
    font-size: 64px;
    font-weight: 700;
    text-align: center;
}
/* links */
.link-header{
    color: var(--color-primary-dark);
    font-size: 18px;
    font-weight: 400;
}
.link-header:hover{
    color: var(--color-primary-brand);
    font-size: 18px;
    font-weight: 700;
}
.link-footer{
    color: var(--color-primary-light);
    font-size: 16px;
    font-weight: 400;
}
.link-footer:hover {
    color: var(--color-primary-brand);
    font-size: 18px;
    font-weight: 700;
}
.link-footer-adress{
    color: var(--color-primary-light);
    font-size: 16px;
    font-weight: 400;
}

.link-footer-adress:hover {
    color: var(--color-primary-brand);
    font-size: 18px;
    font-weight: 700;
    
}

/* buttons */
.button{
    border-radius: 32px;
    background-color: var(--color-primary-brand);
    color: var(--color-primary-light);
    border: 2px solid var(--color-primary-brand);
    font-size: 18px;
    font-weight: 600;
}
.button:hover{
    border-radius: 32px;
    border: 2px solid var(--color-primary-brand);
    color: var(--color-primary-dark);
    background-color: transparent;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
}
/* hero */
.hero-title{
    color: var(--color-primary-brand);
    font-family: Play;
    font-size: 140px;
    font-weight: 700;
    text-transform: capitalize;
    line-height: 0.8;
}
.hero-secondary-text{
    color: var(--color-secondary-grey-dark);
    font-size: 12px;
    font-weight: 400;
}
/* titles */
.title-accent{
    color: var(--color-primary-brand);
}
.title-left{
    text-align: left;
}
.title-secondary-accent{
    font-weight: 600;
    text-transform: capitalize;
}
.pre-title-text{
    font-size: 18px;
    font-weight: 400;
}
/* adventages */
.adventages-title{
    color: var(--color-black);
    font-size: 18px;
    font-weight: 400;
}
.procedures-title{
    color: var(--color-primary-light);
}
/* contact */
.contact-form-window{
    background-color: var(--color-primary-dark);
}
.contact-form-window-title{
    font-weight: 600;
    color: var(--color-primary-light);
}
.contact-secondary-text{
    color: var(--color-secondary-grey-light);
    font-size: 12px;
    font-weight: 400;
}
.contact-secondary-link{
    color: var(--color-secondary-grey-light);
    text-decoration: none;
    font-size: 12px;
    font-weight: 400;
}
.contact-secondary-link:hover {
    color: var(--color-secondary-grey-light);
    text-decoration: underline;
    font-size: 12px;
    font-weight: 400;
}